nav {
  padding: 35px;
  padding-bottom: 50px;
  border-bottom: solid black;
  margin: 0px;
  padding-left: 0px;
}
nav img {
  float: left;
  content: center;
}

nav li {
  float: right;
}
nav ul {
  margin: 0;
}

nav h2 {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}
nav p {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 70%;
  height: 15px;
  position: sticky;
}
